<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CN Proj</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
        Name: <input type='text' name="name"><br>
        <textarea cols="50" rows="5" name="context">輸入留言內容...</textarea><br>
        <p><input type="submit" value="Send"></p>      
    </form>
    <hr>
    <p>
VARIABLES
    </p>
</body>
</html>