<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CN Proj</title>
</head>
<body style="background-color:wheat">
    <div id="maintext"
        style="position:absolute; margin:auto; margin-top: 0%; margin-bottom: 30%; width:1000px; height:100px; text-align:left; top:0; bottom: 0; left: 0; right: 0;">
    <h1>
        2020 CN Project - Bulletin
    </h1>
    <h2>B07902027 高偉倫</h2>
    <hr>
    <ul>
        <li><h4>影片串流分享請<a href="http://140.112.90.200:9528">點此</a></h4></li>
        <li><h4>語音辨識系統請<a href="http://140.112.90.200:9529">點此</a></h4></li>
    </ul>
    <hr>
    <h2>留言版</h2>
    <form action="" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
        Name: <input type='text' name="name"><br>
        <textarea cols="50" rows="5" name="context">輸入留言內容...</textarea><br>
        <p><input type="submit" value="Send"></p>      
    </form>
    <hr>
    <p>
VARIABLES
    </p>
</body>
</html>